/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

a.disabled{color:#444444}
a.disabled:hover{color:#444444;cursor:default}
td.leftformcell{text-align:right;font-weight:bold;font-size:8pt;color:#333333;padding-right:10px}

.small{font-size:8pt}
.error{color:#ff0000;font-weight:bold;font-size:13px}
.highlight{color:#cc0000}

.msgpanel{background:#FFF0B4;margin:0px;padding:5px;border:2px solid orange;
	text-align:center;line-height:180%;
    margin:0px auto}
.msgpanel .title {color: #DF5E00;font-weight:bold;font-size:10pt;padding-bottom:8px}
.msgpanel a{color:#2F2F4F;color:#363656;font-weight:bold}
.msgpanel a:visited{color:#2F2F4F;color:#363656;font-weight:bold}
.msgpanel a.blue{color:#0000ff;font-weight:bold}

.b{font-weight:bold;border-bottom:1px solid #555555;border-right:1px solid #555555}
.r{text-align:right;padding-right:6px;padding-left:6px}

#whatwould, #continuetrade {font-size:12pt;color:#0d2f4f;font-weight:bold}
#stocktitle {font-weight:bold;font-size:12pt;color:blue}

#StartPrice,#ExitPrice {font-size:12pt;font-weight:bold}

body {
	margin: 0;
	padding: 0;
	background: #333333 url(/images/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444444;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

a {
	color: blue;
}
a:visited{color:blue}
a:hover {
	text-decoration: none;
	color: blue;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */

#logo {
	width: 750px;
	height: 50px;
	margin: 18px auto 10px auto;
    
}

#logo h1, #logo p {
	margin: 0;
	color: #FFFFFF;
}

#logo h1 {
	float: left;
	padding-top: 15px;
}

#logo p {
	float: right;
	padding-top: 27px;
	font-size: 1.3em;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}


/* Page */

#page {
	width: 750px;
	margin: 0 auto;
	background: #FFFFFF; /*url(images/img05.gif) repeat-y;*/
    border:0px solid red
}


/* Latest Post */

/* Content */

#content {
	float: left;
	width: 510px;
	padding: 10px 0 0 20px;
}

.post {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #E7E7E7;
}

.title {
	margin: 0;
    width:99%;text-align:center;padding-bottom:15px
}

.title a {

}

h2.title a:hover {
	border-bottom: 1px dotted #999999;
}

.byline {
	margin: 0 0 20px 0;
}

.entry {
}

.links {
	padding-top: 10px;
	text-align: right;
	font-weight: bold;
}

#latest-post {
	padding: 15px;
	border: 1px solid #E7E7E7;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 160px;
	padding-right: 20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding: 5px 20px 5px 35px;
	background: url(/images/img07.gif) no-repeat 20px 50%;
	border-bottom: 1px solid #F3F3F3;
}

#sidebar h2 {
	margin: 0;
	padding: 18px 0 3px 20px;
	border-bottom: 1px solid #E7E7E7;
	letter-spacing: -1px;
	font-size: 1.2em;
	font-weight: bold;
}

#sidebar h3 {
	margin: 0;
	padding: 8px 0 3px 20px;
	letter-spacing: 0px;
	font-size: 1.0em;
	font-weight: bold;
}

#sidebar a {
	text-decoration: underline;
}

#sidebar a:hover {
	text-decoration: none;
}

/* Footer */

#footer {
	width: 750px;
	margin: 0 auto;
	padding: 20px 0;
	background: url(/images/img08.gif) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: smaller;
	color: #444444;
}

#footer a {
	color: #444444;
}


.topOptions {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #0d2f4f) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #0d2f4f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#0d2f4f');
	background-color:#63b8ee;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #3866a3;
	display:inline-block;
	/*color:#e8ecf0;*/
    color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #7cacde;
}/*.topOptions:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0d2f4f), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #0d2f4f 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2f4f', endColorstr='#63b8ee');
	background-color:#0d2f4f;
}.topOptions:active {
	position:relative;
	top:1px;
}*/

/* This imageless css button was generated by CSSButtonGenerator.com */

.topOptions:hover{cursor:pointer}

/*
http://www.cssbuttongenerator.com/ 
button.topOptions {
    background-color: #8C9CBF;
    background-image: -moz-linear-gradient(center top , #8C9CBF 0%, #546A9E 50%, #36518F 50%, #3D5691 100%);
    border-color: #172D6E #172D6E #0E1D45;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #B1B9CB inset;
    color: #FFFFFF;
    font: bold 16px "helvetica neue",helvetica,arial,sans-serif;
    padding: 3px 5px 3px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #000F4D;
    margin-top: 5px;
}
*/
